@import "tailwindcss";

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

.dark {
  --background: rgb(28, 26, 26);
  --foreground: rgb(226, 240, 232);
}

/* 設定全域 body 樣式：padding 與背景顏色 */
body {
  @apply p-12; /* 套用 Tailwind 工具類：padding 3rem */
  background-color: var(--background); /* Use the CSS variable for background */
  color: var(--foreground); /* Optional: Use foreground for text color */
}

.text-primary {
  color: var(--foreground); /* Adjusted to use --foreground instead of undefined --text-primary */
}